body {
    background-color: green;
}

#card-space {
    height: 1000px;
    width: 1000px;
}

li {
    width: 200px;
    height: 200px;
    background-color: linen;
    border: 5px black solid;
    margin: 10px;
    font-size: 3em;
    list-style: none;
}